#cabecera h1 {
color:#FFF;
text-decoration:none;
padding:10px;
}

#menuarriba {
float:right;
font-weight:700;
padding-bottom:5px;
padding-top:15px;
width:40em;
margin:0;
}

#menuarriba span {
font-weight:700;
color:#FFF;
padding:10px;
}

#menuarriba a {
text-decoration:none;
color:#FFF;
}

#menuarriba a:hover {
border-bottom:2px solid #A9E59D;
color:#0F0;
}

#menuder ul {
list-style:none;
padding:0 0 0 5px;
}



#menuder h2 {

text-align:right;
color:#E5E5E5;
padding-left:5px;
}

#pie a {
color:#FFF;
text-decoration:none;
}

#pie a:hover {
color:#0F0;
}

.boton {
float:right;
clear:both;
}

#bienvenida img {
display:block;
width:100%;
max-height:200px;
margin:0;
padding:0;
}

h3,h2.alt {
color:#E5E5E5;
padding-left:5px;
}

.quiet {
color:#BFBFBF;
}

#noticias * {
color:#FFF;
}

#noticias h2 {
margin:0;
padding:0;
}

#noticias .caja {
border:1px solid #243622;
}

#noticias .caja h3 {
border-bottom:1px dotted;
margin:5px;
}

#noticias .caja p {
margin-left:15px;
}

.infoEvento {
font-size: 1em;
}

.infoEvento img {
max-width:350px;
max-height:263px;
}

.infoEvento h2 {
color:#E5E5E5;
font-size: 1.1em;
}

.infoEvento p{
display: inline;
}

.nuevos p {
margin-left: 15px;
}

.nuevos h3 {
padding:0;
margin: 0;
}

hr.nuevos {
width:50%;
border:1px solid;
margin-left:30px;
}

.bienvenida img {
width:100%;
margin:0 0 5px;
padding:0;
}

.bienvenida {
font-weight:700;
margin:10px 15px;
}

.caps {
font-size: 1.1em;
}

* span .value-title {
display: none;
}


