@font-face {
font-family:GraublauWeb;
src:url('GraublauWeb.otf');
}

@font-face {
font-family:GraublauWeb;
font-weight:700;
src:url('GraublauWebBold.otf');
}

body,html {
font-family:"GraublauWeb",Verdana,Arial,sans-serif;
font-size:0.9em;
font-style:normal;
margin-top:5px;
background:url("/media/imagenes/fondo.jpg") no-repeat fixed bottom right #161B16;
}

#contenedor {
border:1px solid #FFF;
}

#cabecera {
background-color:#000;
border-bottom: 1px solid #FFF;
}

#cuerpo {
padding-top: 15px;
padding-bottom: 10px;
}

#pie {
background-color:#243622;
text-align:center;
color:#FFF;
padding-top:10px;
}

#cuerpo p {
padding-left:5px;
clear: both;
}

#cuerpo h4 {
text-align:right;
}

#cuerpo {
background:#344A30;
color:#FFF;
}

#cabecera h1 {
float:left;
display:inline;
background: url("/media/imagenes/cabecera.jpg") no-repeat #000;
width:384px;
height: 111px;
margin:0;
padding:0;
}

#cabecera h1 span {
	display: none;
}
 
#cabecera h1 a {
display: block;
width: 384px;
height: 111px;
}

.box {
background:#243622;
}

.left {
margin-left:40px;
}

.alt {
font-family:Palatino,serif;
}
