{% extends "base.html" %}
{% load markup %}
{% block content %}
<div class="infoEvento">
{%if tipo.imagen %}
<img alt="{{info.nombre}}" src="{{tipo.imagen.url}}" class="left"/>
{% endif %}

	Evento:<h2>{{info.nombre }}</h2>
	

	Fecha:<h2>{{info.fecha|date}}</h2>

	Hora:<h2>{{info.hora_inicio|time}}  {% if info.hora_fin %} -   {{info.hora_fin|time}}{% endif %}</h2>

		<h2>{{info.info|markdown }}</h2>

<div style="text-align:right" class="small">Creado: {{info.creado|date}}</div>

</div>
{% endblock %}
