{% extends "base.html" %}
{% load markup %}
{% load tags %}
{% block content %}
	{% get_last web.Bienvenida -id as bienvenida %}
	<div class="bienvenida">
	{% if bienvenida.imagen %}
	<img src="/media{{bienvenida.imagen.url}}" />
	{% endif %}
             	<p>
            		{{ bienvenida.texto|markdown }}
            	</p>
    </div>
     <hr class="nuevos" />
     
         {% get_latest web.Noticia 5 as noticias %}
    {% if noticias %}
    <div class="nuevos span-15 box left">
    <h4 class="prepend-5 alt quiet">Novedades</h4>
    {% for n in noticias %}
			<h3>{{ n.titular }}</h3>
			<p>{{ n.cuerpo|markdown }}</p>
			<div class="small" style="text-align:right">Publicado: {{ n.creado|date}}</div>
		{% endfor %} 
    </div>
    {% endif %}
    {% get_latest web.Evento 8 as eventos %}
    {% if eventos %}
		<div class="eventos span-15 box left">
	    <h4 class="prepend-5 alt quiet">Nuevos eventos</h4> 
	    
	    <p> 
	    {% for e in eventos %}
	    <b>{{e.fecha|date}}</b> <a href="{{ e.get_absolute_url }}" class="quiet">{{e.nombre}}</a><br />
	    {% endfor %}
	    </p>    
	    </div>
	  {% endif %}

     
    
        
    
	
{% endblock %}